
.App {
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: #fceedc;
    background-color: rgb(34, 34, 34); 
    padding-top: 1rem;
    text-align: center;
    
}

ul { 
    display: flex;
    justify-content: center;
    list-style: none; 
    gap: 5px;
}
li {
    width: 3rem;
    height: 3rem;
    
}

.yellow {
    background-color: yellow
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
