
.App {
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: #fceedc;
    background-color: rgb(34, 34, 34); 
    padding-top: 1rem;
    text-align: center;
    
}

ul { 
    width: 100px;
    color: black;
    list-style: none;
    
}
.Colors {
    display: flex;
    
    justify-content: center;
    text-align: center;

}
.yellow {
    background-color: yellow
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
